html{
min-height:100%;
width:100%;
}

#fullpage{
min-height:100%;
width:100%;
}

#navi{
width: 100%;
}

#toplinks{
list-style-type:none;
overflow:hidden;
display:inline;
}

.topleft{
float: left;
}

.topright{
float: right;
}

a{
margin:5px;
text-decoration:none;
color:gray;
font-family:"arial";
font-size:13px;
}

.logo{
width:auto;
margin:auto;
text-align:center;
padding:40px;
padding-bottom:5px; 
}

.searchboxarea{
text-align:center;
width:auto;
}

.textbox{
min-width:500px;
width:31%;
}

.buttonsarea{
text-align:center;
width:auto;
display:inline;
padding:10px;
}

.buttonbox{
color:"gray";
font-family:"arial";
}

#foot {
width:100%;
margin:0;
padding:0;
}

#bottomlinks{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #f1f1f1;
padding:.25%;
}

.bottomleftlinks, .bottomrightlinks {
list-style-type:none;
overflow:hidden;
display:inline-block;
padding:10px;
margin:0;
bottom: 0;
left: 0;
}

.bottomleftlinks{
float:left;
}

.bottomrightlinks{
float:right;
}

